<app-layout-header></app-layout-header>
<div class="MainBodyPart">

  <div class="question-header text-center pad-top-10 pad-bottom-10">
    <!-- <div class="col-sm-6 col-sm-offset-3 col-xs-12">
      <span class="question-text">{{questionary.text}} ...</span>
    </div> -->
    <!-- <div class="question-header text-center pad-top-10 pad-bottom-10"> -->
    <!-- <span class="question-text"
    *ngIf="questionary.questions[current].text">{{questionary.questions[current].text}} ...</span> -->
    <div class="col-sm-6 col-sm-offset-3 col-xs-12">
      <div *ngIf="questionary === null">
        <span class="question-text">You have no pending questionaries to complete! :</span>
      </div>
    </div>

    <div class="col-sm-3 col-xs-12 points">
      <!-- *ngIf="questionary && completed"maxPoint -->
      <span *ngIf="questionary && !completed && QuizShow" maxPoint><span class="points-title max-value"
          translate="questionary.points"></span>&nbsp;&nbsp;<span class="points-box max-value">{{totalPoints()}} |
          {{maxPoint}}</span>&nbsp;&nbsp;</span>
      <span *ngIf="totalPoints() == 22">hiii</span>
    </div>


    <div *ngIf="completed">
      <!-- <div>
        <a class="navbar-brand" data-toggle="collapse" data-target=".navbar-collapse.in">
          <img class="logo" src="assets/images/logo-inverse.png" />
        </a>
      </div> -->
      <h1>{{"questionary.completed.title" | translate}}</h1>
      <h3>{{"questionary.completed.text" | translate}}</h3>
    </div>
  </div>

  <div class="bg-gradient pt-5 pb-5">

    <!-- *ngIf="!questionary && completed" -->
    <div class="container-fluid">
      <div class="row pt-5 ps-2 pe-2">

        <form class="form-horizontal" *ngIf="QuizShow && questionary && !completed ">
          <!-- <div>{{questionary.text}}</div> -->
          <div class="cs-width col-md-6" *ngFor="let option of questionary?.options; let i = index">
            <div>
              <div>
                <div class="panel panel-default question-box">
                  <div class="panel-body question-box-body">

                    <ng-contianer>
                      <div class="text-justify">{{option.text}}</div>
                    </ng-contianer>
                  </div>
                  <div class="question-box-counter no-gutter">
                    <div class="plus-container background-plus-custom">
                      <button (click)="increment(i)">+</button>
                    </div>
                    <div class="id-input">
                      <input type="text" min="0" name="{{'option' + i}}" [(ngModel)]="answers[i]" readonly />
                    </div>
                    <div class="minus-container background-minus-custom">
                      <button (click)="decrement(i)">-</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <ng-template #template>
        <div class="ConfirmationModel" style="width: 800px !important">
          <div class="modal-body modal-content">
            <p>{{"questionary.instructions.text" | translate}}</p><br>
            <p>{{"questionary.instructions.text1" | translate}}</p><br>
            <p>{{"questionary.instructions.text2" | translate}}</p><br>
            <p>{{"questionary.instructions.text3" | translate}}</p><br>
            <p>{{"questionary.instructions.text4" | translate}}</p><br>
            <p>{{"questionary.instructions.text5" | translate}}</p><br>
            <p>{{"questionary.instructions.text6" | translate}}</p><br>
            <p>{{"questionary.instructions.text6" | translate}}</p>
            <button type="button" class="theme-btn w-auto" aria-label="close" (click)="QuizStart()">
              <strong translate="start"></strong>
            </button>
          </div>
        </div>
      </ng-template>
      <!-- <div *ngIf="questionary && !completed"> -->
      <div>
        <div *ngIf="questionary && !completed " class="row pt-2 ms-4 me-4 d-flex justify-content-end">
          <button id="next-button" class="btn btn-default btn-lg" (click)="next()" [disabled]="availablePoints() > 0 ">
            <span class="text-uppercase" translate="next"></span> <i class="bi bi-send"
              style="transform: rotate(135deg);"></i>
          </button>
        </div>
        <div class="row pt-2 ms-4 me-4">
          <!-- <progress-bar progress="value" value="{{ 'current' + 1 }}" [max]="totalQuestions()"
            [color-degraded]="{'0': '#00cbcb',  '15': '#f9c3d3', '25': '#fd8c8e'}"> <span>{{ 'current' + 1 }} / {{
              totalQuestions() }}</span>
          </progress-bar> -->
          <div class="progress ps-0 pe-0" style="height: 30px; border-radius: 0;"
            *ngIf="questionary && !completed &&  QuizShow">
            <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="25" aria-valuemin="0"
              aria-valuemax="100">{{ current + 1 }} / {{totalQuestions()}} </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>