.MainBodyPart {
    height: calc(100vh - 150px);
    overflow: auto;
    top: 106px;
    position: relative;
    background-color: #212121;
  }
  
.ConfirmationModel {
  .modal-body {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    border: 1px solid #fff;
    border-radius: 6px;
    background-color: #171717;
    padding: 50px 50px 50px 50px;
    p {
      color: #333;
    }
    .ModelBtnPart {
      display: flex;
      justify-content: space-between;
      margin-top: 50px;
    }
  }
}