<div class="AccountFooter">
    <p>
      <span translate="copy right" class="ng-scope"></span> |
      <a href="#" translate="legalinfo" class="ng-scope"></a> |
      <a href="#/home/privacy" translate="privacy" class="ng-scope"></a>
    </p>
    <ul class="list-inline">
      <li>
        <a
          href="mailto:info@multigence.com"
          translate="contact"
          class="ng-scope"
          ></a
        >
      </li>
      <li>
        <a href="https://twitter.com/multigence" target="_blank">Twitter</a>
      </li>
    </ul>
  </div>
