<app-layout-header></app-layout-header>
<div class="MainBodyPart">
  <div class="container">
    <div class="UploadQuestion">
      <h2>Upload questions</h2>
      <form>
        <input class="input-lg" type="file" (change)="onChange($event)"/>
        <button class="theme-btn w-auto" (click)="uploadFile($event)">
          Upload
        </button>
      </form>
      <div class="mt-3">
        <div class="alert alert-success" role="alert" *ngIf="hidden">
          {{ message }}
        </div>
        <div class="alert alert-danger" role="alert" *ngIf="hidden">
          {{ errorMessage }}
        </div>
        <div class="alert alert-danger" role="alert" *ngIf="hidden">
          {{ resp }}
        </div>
      </div>
    </div>
  </div>
</div>
