.MainBodyPart {
  height: calc(100vh - 106px);
  overflow: auto;
  top: 106px;
  position: relative;
  background-color: #fff;
}
.UploadQuestion {
  padding-top: 10px;
  // color: #fff;
  form {
    max-width: 370px;
    width: 100%;
    input {
      height: 46px;
      padding: 10px 16px;
      font-size: 18px;
      line-height: 1.3333333;
      border-radius: 6px;
      width: 100%;
    }
    .theme-btn {
      font-size: 18px;
      line-height: 1.3333333;
      padding: 10px 16px;
    }
  }
}
