.AccountFooter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    a {
        color: #337ab7;
        text-decoration: none;
        &:hover {
            color: #00ff85;
            text-decoration: underline;
        }
    }
    ul.list-inline {
        display: flex;
        gap: 10px;
    }
}