.AccountTabbing {
  display: flex;
  gap: 15px;
  .nav-pills {
    width: 28%;
    .nav-link {
      background-color: transparent;
      padding: 10px 15px;
      color: #337ab7;
      margin-bottom: 3px;
      text-align: left;
      &:hover {
        color: #00ff85;
        background-color: #eee;
      }
    }
    .nav-link.active {
      background-color: #337ab7;
      color: #fff;
    }
  }
  .tab-content {
    width: 70%;
    p {
      margin-bottom: 10px;
    }
    form {
      max-width: 390px;
      padding: 0 15px;
      label {
        color: #333;
      }
      .form-control {
        border: 1px solid #ccc;
      }
    }
  }
}
.account-section {
  background-color: #fff;
  padding: 100px 0px;
  p,
  input {
    color: #333 !important;
  }
  form {
    label {
      color: #eeeeee;
    }
  }
}

@media only screen and (max-width: 767px) {
  .AccountTabbing {
    flex-wrap: wrap;
    .nav-pills {
      width: 100%;
    }
    .tab-content {
      width: 100%;
      form {
        max-width: 100%;
      }
    }
  }
}
