<app-user-header></app-user-header>
<section class="account-section">
  <div class="container ">
    <article>
      <div class="AccountTabbing">
        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
          <button class="nav-link active" id="v-pills-home-tab" data-bs-toggle="pill" data-bs-target="#v-pills-home"
            type="button" role="tab" aria-controls="v-pills-home" [ngClass]="{ active: activeTab === 'home' }"
            (click)="home('home')" aria-selected="true">
            Edit your personal information
          </button>
          <button class="nav-link" id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-profile"
            type="button" role="tab" aria-controls="v-pills-profile" aria-selected="false"
            [ngClass]="{ active: activeTab === 'profile' }" (click)="profile('profile')">
            Change your password
          </button>
        </div>
        <div class="tab-content" id="v-pills-tabContent">
          <div class="tab-pane fade show active" id="v-pills-home" [ngClass]="{ active: activeTab === 'home' }"
            role="tabpanel" aria-labelledby="v-pills-home-tab" tabindex="0">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore,
              maiores voluptates sed at provident magnam amet deleniti ut
              dignissimos numquam quaerat ab libero ducimus explicabo asperiores
              tenetur fugiat modi. Rerum!
            </p>
            <form class="">
              <div class="form-group">
                <div class="row">
                  <div class="col-sm-4">
                    <img src="http://placehold.it/150?text=photo" class="img-responsive w-100" />
                  </div>
                  <div class="col-sm-8">
                    <label for="exampleInputFile">Photo</label>
                    <input type="file" id="exampleInputFile" />
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for="account-name">Name *</label>
                <input type="text" class="form-control" id="account-name" placeholder="Sonia" required />
              </div>
              <div class="form-group">
                <label for="account-surname">Surname *</label>
                <input type="text" class="form-control" id="account-surname" placeholder="Rodríguez" required />
              </div>
              <div class="form-group">
                <label for="account-username">Username *</label>
                <input type="text" class="form-control" id="account-username" placeholder="Username" required />
              </div>
              <div class="form-group">
                <label for="account-email">Email *</label>
                <input type="email" class="form-control" id="account-email" placeholder="example@email.com" required />
              </div>
              <div class="form-group">
                <label for="account-phone">Phone</label>
                <input type="text" class="form-control" id="account-phone" placeholder="677 77 88 99" />
              </div>
              <div class="form-group">
                <label for="account-language">Language *</label>
                <select id="account-language" class="form-control" required>
                  <option>Español</option>
                  <option>Inglés</option>
                </select>
              </div>
              <button type="submit" class="theme-btn">Save</button>
            </form>
          </div>
          <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab"
            tabindex="0" [ngClass]="{ active: activeTab === 'profile' }">
            <div class="text-center">Do you want change your password?</div>
            <form class="">
              <div class="form-group">
                <label for="account-current-password">Current password *</label>
                <input type="password" class="form-control" id="account-current-password" required />
              </div>
              <div class="form-group">
                <label for="account-new-password">New password *</label>
                <input type="password" class="form-control" id="account-new-password" required />
              </div>
              <div class="form-group">
                <label for="account-repeat-new-password">Repeat new password *</label>
                <input type="password" class="form-control" id="account-repeat-new-password" required />
              </div>
              <button type="submit" class="theme-btn">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </article>
    <app-user-footer></app-user-footer>
  </div>
</section>