<app-layout-header></app-layout-header>
<div class="progress-footer FooterTop text-center">
  <a href="invitations">{{ "footer.catalog" | translate }}</a>
  <div class="progress-chart">
    <div class="progress">
      <div class="pending" role="progressbar" style="width: 33%" data-toggle="tooltip" data-placement="top"
        title="{{ 'progress.pending' | translate }}"></div>
      <div class="progressing" role="progressbar" style="width: 33%" data-toggle="tooltip" data-placement="top"
        title="{{ 'progress.progressing' | translate }}"></div>
      <div class="finished" role="progressbar" style="width: 34%" data-toggle="tooltip" data-placement="top"
        title="{{ 'progress.finished' | translate }}"></div>
    </div>
  </div>
</div>
<div class="MainBodyPart">
  <div class="container-fluid">
    <div class="AdminUser">
      <div class="row">
        <div class="col-md-3">
          <div>
            <div class="right-inner-addon">
              <img src="../../../../assets/images/search.svg" alt="" />
              <input class="form-control form-control-outline custom-search"
                placeholder="{{ 'filter.search' | translate }}" type="text" name="search" [(ngModel)]="searchText"
                autocomplete="off" />
              <div class="FilterBox mt-4">
                <div class="form-group mb-4">
                  <label class="form-label text-white text-uppercase" *ngIf="!selectedOption">{{"progress.progress" | translate}}</label>
                  <select class="form-select" name="progress" id="progress" (change)="onSelect($event)" >
                    <option value="" style="display:none"></option>
                    <option *ngFor="let progress of progressList; let i = index">
                      {{ progress }}
                    </option>
                  </select>
                  <span class="bi bi-send"></span>
                </div>
                <div class="form-group mb-4">
                  <select class="form-select" name="role" id="role">
                    <option *ngFor="let rol of userRolList; let i = index">
                      {{ rol }}
                    </option>
                  </select>
                  <span class="bi bi-send"></span>
                </div>
                <div class="form-group mb-4">
              <label class="form-label text-white text-uppercase" *ngIf="!selectedDepartment">{{"progress.department" | translate}}</label>
                  <select class="form-select" name="department" id="department" (change)="onSelectDepartment($event)">
                    <option value="" style="display:none"></option>
                    <option *ngFor="let department of departments; let i = index">
                      {{ department.name }}
                    </option>
                  </select>
                  <span _ngcontent-sis-c26="" class="bi bi-send"></span>

                  
                 
                </div>
                <div class="form-group mb-4">
                  <label class="form-label text-white text-uppercase" *ngIf="!selectedJob">{{"progress.jobTitle" | translate}}</label>
                  <select class="form-select" name="title" id="title" (change)="onSelectJob($event)">
                    <option value="" style="display:none"></option>
                    <option *ngFor="let title of titles" value="{title.uuid}">
                      {{ title }}
                    </option>
                  </select>
                  <span class="bi bi-send"></span>
                </div>
                <div class="form-group mb-4">
                  <label class="form-label text-white text-uppercase" *ngIf="!selectedJobId">{{"progress.jobId" | translate}}</label>
                  <select class="form-select" name="title" id="title" (change)="onSelectJobId($event)">
                    <option value="" style="display:none"></option>
                    <option *ngFor="let position of positions" value="{position.uuid}">
                      {{ position.name }}
                    </option>
                  </select>
                  <span class="bi bi-send"></span>
                </div>
              </div>
            </div>
            <button (click)="viewResult()" type="button" class="theme-btn w-100 text-uppercase bold">
              View Results
            </button>
          </div>
        </div>
        <div class="col-md-9">
          <div class="Custompagination">
            <ul class="pagination">
              <li class="page-item">
                <a class="page-link Previous-page" aria-label="Previous">
                  <span class="LeftBorderPage bi bi-send"></span>
                </a>
              </li>
              <li class="page-item">
                <a class="page-link Previous-page" aria-label="Previous">
                  <span class="bi bi-send"></span>
                </a>
              </li>
              <li class="page-item"><a class="page-link active">001</a></li>
              <li class="page-item">
                <a class="page-link Next-page" aria-label="Next">
                  <span class="bi bi-send"></span>
                </a>
              </li>
              <li class="page-item">
                <a class="page-link Next-page" aria-label="Next">
                  <span class="bi bi-send RightBorderPage"></span>
                </a>
              </li>
            </ul>
          </div>
          <div class="scrollTable">
            <div class="UserTable table-hover">
              <div class="col-xs-1">
              </div>
              <table class="table table-dark">
                <tbody>
                  <tr *ngFor="let user of userStatusListPage | filter : searchText">
                    <td scope="row">
                      <i *ngIf="user.role === 'EMPLOYEE' || user.role === 'MANAGER'" [ngClass]="{'pending-color': user.status == 'CREATED', 'progressing-color': user.status == 'IN_PROGRESS', 'finished-color': user.status == 'DONE'}" class="bi bi-triangle-fill"></i>
                      <i *ngIf="user.role == 'APPLICANT'" [ngClass]="{'pending-color': user.status == 'CREATED', 'progressing-color': user.status == 'IN_PROGRESS', 'finished-color': user.status == 'DONE'}" class="bi bi-hexagon-fill"></i>
                    </td>
                    <td>{{ user.first_name}}</td>
                    <td>{{ user.last_name }}</td>
                    <td>{{
                      user.role == "EMPLOYEE"
                      ? user.title
                      : user.position_name
                      }}</td>
                    <td>{{ user.department_name }}</td>
                  </tr>

                </tbody>
              </table>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>