<app-layout-header></app-layout-header>
<div class="MainBodyPart">
  <div class="bg-gradient pad-top-30 pad-bottom-500">
    <div class="container">
      <div class="invitations">
        <p>
          Please visit questionnaire section to help us evaluate your company
          cultural values.
        </p>
        <p>
          Invite those you want to take the test between your employees and
          interesting candidates.
        </p>
        <p>
          Note that employees’ interviews contribute determining company
          cultural values and help refine our analytics.
        </p>
        <p class="invitation-text">
          Send invitation to employees and candidates:
        </p>
        <div class="row">
          <div class="col-6">
            <form [formGroup]="createInvitationForm" class="profile" (ngSubmit)="inviteEmployee($event)">
              <button (click)="onShowInvitationForm()" type="button" class="companyform text-uppercase bold">
                {{( createInvitation ? "invitations.dropdown.employee" : "invitations.dropdown.employee" ) | translate}}
                <span class="bi bi-send" style="transform: rotate(135deg);" *ngIf="!visible"></span>
              </button>
              <div class="createInvitationForm CreateCompanyForm" *ngIf="visible">
                <div class="profile-container">
                  <div class="profile-container2">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <input type="text" name="firstName" class="form-control form-control-outline"
                            placeholder="{{'form.firstname' | translate}}" formControlName="firstName" />
                          <ng-container *ngIf="
                              createInvitationForm.get('firstName')?.invalid &&
                              createInvitationForm.get('firstName')?.touched
                            ">
                            <p class="caption status-danger"
                              *ngIf="createInvitationForm.get('firstName')?.errors?.['required']">
                              <span style="color: red">{{
                                "form.firstName" | translate
                              }}</span>
                            </p>
                          </ng-container>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <input type="text" name="lastName" placeholder="{{'form.lastname' | translate}}"
                            class="form-control form-control-outline" formControlName="lastName" />
                          <ng-container *ngIf="
                              createInvitationForm.get('lastName')?.invalid &&
                              createInvitationForm.get('lastName')?.touched
                            ">
                            <p class="caption status-danger"
                              *ngIf="createInvitationForm.get('lastName')?.errors?.['required']">
                              <span style="color: red">{{
                                "form.LastName" | translate
                              }}</span>
                            </p>
                          </ng-container>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group dropdown">
                          <label class="form-label text-white" *ngIf="!selectedDepartment">DEPARTMENT</label>
                          <select class="form-select" name="department" id="department" formControlName="department" (change)="onSelectDepartment($event)">
                            <option *ngFor="let department of departments" [value]='department.uuid'>
                              {{ department.name }}
                            </option>
                          </select>
                          <span class="bi bi-send"></span>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group CustomAddBtn">
                          <input type="text" name="name" placeholder="{{
                              'form.CreateDepartment' | translate
                            }}" class="form-control form-control-outline" formControlName="name" />
                          <button type="button" (click)="addDepartment($event)" class="plusIconBtn">
                            +
                          </button>
                          <ng-container *ngIf="
                              createInvitationForm.get('name')
                                ?.invalid &&
                              createInvitationForm.get('name')
                                ?.touched
                            ">
                            <p class="caption status-danger"
                              *ngIf="createInvitationForm.get('name')?.errors?.['required']">
                              <span style="color: red">{{
                                "form.CreatedDepartment" | translate
                              }}</span>
                            </p>
                          </ng-container>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <input type="email" name="employeeEmail" class="form-control form-control-outline"
                            placeholder="Email" formControlName="employeeEmail" />
                          <ng-container *ngIf="
                              createInvitationForm.get('employeeEmail')
                                ?.invalid &&
                              createInvitationForm.get('employeeEmail')?.touched
                            ">
                            <p class="caption status-danger"
                              *ngIf="createInvitationForm.get('employeeEmail')?.errors?.['required']">
                              <span style="color: red">{{
                                "form.Email" | translate
                              }}</span>
                            </p>
                            <p class="caption status-danger"
                              *ngIf="createInvitationForm.get('employeeEmail')?.errors?.['pattern']">
                              <span style="color: red">{{
                                "form.valid" | translate
                              }}</span>
                            </p>
                          </ng-container>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group text-end">
                          <button type="submit" [disabled]="!createInvitationForm.valid" class="theme-btn w-auto"
                            (click)="openConfirmationModal(template)">
                            {{ "form.send" | translate }}
                          </button>
                          <ng-template #template>
                            <div class="ConfirmationModel">
                              <div class="modal-body">
                                <p *ngIf="send">{{'invitation.sentMessage'| translate}}</p>
                                <p *ngIf="!send">{{'invitation.sentBeforeMessage'| translate}}</p>
                                <div class="ModelBtnPart">
                                  <button type="button" class="theme-btn w-auto" (click)="confirmOkDialog()">
                                    Ok
                                  </button>

                                </div>
                              </div>
                            </div>
                          </ng-template>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div class="col-6">
            <form [formGroup]="CreateCandidateform" class="profile" (ngSubmit)="inviteCandidate($event)">
              <button (click)="onShowcandidateform()" type="button" class="companyform text-uppercase bold">
                {{
                (candidateform ? "invitations.dropdown.candidate" : "invitations.dropdown.candidate") | translate
                }}
                <span class="bi bi-send" style="transform: rotate(135deg);" *ngIf="!IsVisible"></span>
              </button>
              <div class="candidateform CreateCompanyForm" *ngIf="IsVisible">
                <div class="profile-container">
                  <div class="profile-container2">
                    <div class="row">
                      <div class="col-6">
                        <div class="form-group relative">
                          <input type="text" name="candidateFirstName" class="form-control form-control-outline"
                            placeholder="{{'form.firstname' | translate}}" formControlName="candidateFirstName" />
                          <ng-container *ngIf="
                              CreateCandidateform.get('candidateFirstName')
                                ?.invalid &&
                              CreateCandidateform.get('candidateFirstName')
                                ?.touched
                            ">
                            <p class="caption status-danger"
                              *ngIf="CreateCandidateform.get('candidateFirstName')?.errors?.['required']">
                              <span style="color: red">{{
                                "form.firstName" | translate
                              }}</span>
                            </p>
                          </ng-container>
                        </div>
                      </div>
                      <div class="col-6">
                        <div class="form-group">
                          <input type="text" name="candidateLastName" class="form-control form-control-outline"
                            placeholder="{{'form.lastname' | translate}}" formControlName="candidateLastName" />
                          <ng-container *ngIf="
                              CreateCandidateform.get('candidateLastName')
                                ?.invalid &&
                              CreateCandidateform.get('candidateLastName')
                                ?.touched
                            ">
                            <p class="caption status-danger"
                              *ngIf="CreateCandidateform.get('candidateLastName')?.errors?.['required']">
                              <span style="color: red">{{
                                "form.LastName" | translate
                              }}</span>
                            </p>
                          </ng-container>
                        </div>
                      </div>
                      <div class="col-6">
                        <div class="form-group dropdown">
                          <label class="form-label text-white" *ngIf="!selectDepartment">DEPARTMENT</label>
                          <select class="form-select" name="department" id="department" formControlName="department" (change)="onSelectDepartments($event)">
                            <option *ngFor="let department of departments" [value]='department.uuid'>
                              {{ department.name }}
                            </option>
                          </select>
                          <span class="bi bi-send"></span>
                        </div>
                      </div>
                      <div class="col-6">
                        <div class="form-group CustomAddBtn">
                          <input type="text" name="name" placeholder="{{
                              'form.CreateDepartment' | translate
                            }}" class="form-control form-control-outline" formControlName="name" />
                          <button type="button" (click)="addCandidateDepartment($event)" class="plusIconBtn">
                            +
                          </button>
                          <ng-container *ngIf="
                          CreateCandidateform.get('name')
                                ?.invalid &&
                                CreateCandidateform.get('name')
                                ?.touched
                            ">
                            <p class="caption status-danger"
                              *ngIf="CreateCandidateform.get('name')?.errors?.['required']">
                              <span style="color: red">{{
                                "form.CreatedDepartment" | translate
                              }}</span>
                            </p>
                          </ng-container>
                        </div>
                      </div>
                      <div class="col-6">
                        <div class="form-group">
                          <label class="form-label text-white" *ngIf="!selectJobId">VACANCY / JOB ID</label>
                          <select class="form-select" name="job" id="job" formControlName="job" (change)="onSelectVacancy($event)">
                            <option *ngFor="let job of postions" [value]='job.uuid'>
                              {{ job.name }}
                            </option>
                          </select>
                          <span class="bi bi-send"></span>
                        </div>
                      </div>
                      <div class="col-6">
                        <div class="form-group CustomAddBtn">
                          <input type="text" name="createJobID" class="form-control form-control-outline"
                            placeholder="{{ 'form.CreateJobId' | translate }}" formControlName="createJobId" />
                          <button type="button" (click)="addPosition($event)" class="plusIconBtn">
                            +
                          </button>
                          <ng-container *ngIf="
                              CreateCandidateform.get('createJobId')?.invalid &&
                              CreateCandidateform.get('createJobId')?.touched
                            ">
                            <p class="caption status-danger"
                              *ngIf="CreateCandidateform.get('createJobId')?.errors?.['required']">
                              <span style="color: red">{{
                                "form.JobId" | translate
                              }}</span>
                            </p>
                          </ng-container>
                        </div>
                      </div>
                      <div class="col-6">
                        <div class="form-group">
                          <input type="email" name="candidateEmail" class="form-control form-control-outline"
                            placeholder="Email" formControlName="candidateEmail" />
                          <ng-container *ngIf="
                              CreateCandidateform.get('candidateEmail')
                                ?.invalid &&
                              CreateCandidateform.get('candidateEmail')?.touched
                            ">
                            <p class="caption status-danger"
                              *ngIf="CreateCandidateform.get('candidateEmail')?.errors?.['required']">
                              <span style="color: red">{{
                                "form.Email" | translate
                              }}</span>
                            </p>
                            <p class="caption status-danger"
                              *ngIf="CreateCandidateform.get('candidateEmail')?.errors?.['pattern']">
                              <span style="color: red">{{
                                "form.valid" | translate
                              }}</span>
                            </p>
                          </ng-container>
                        </div>
                      </div>
                      <div class="col-6">
                        <div class="form-group text-end">
                          <button type="submit" [disabled]="!CreateCandidateform.valid" class="theme-btn w-auto"
                            (click)="openConfirmationModal(template)">
                            {{ "form.send" | translate }}
                          </button>
                          <ng-template #template>
                            <div class="ConfirmationModel">
                              <div class="modal-body">
                                <p>{{'invitationMessage'| translate}}</p>
                                <div class="ModelBtnPart">
                                  <button type="button" class="theme-btn w-auto" (click)="confirmOkDialog()">
                                    Ok
                                  </button>
                                </div>
                              </div>
                            </div>
                          </ng-template>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-progress-footer></app-progress-footer>
</div>