<app-layout-header></app-layout-header>
<div class="MainBodyPart">
  <div class="bg-gradient pad-top-100 pad-bottom-100 profile">
    <div class="container">
      <div class="row">
        <div class="col-md-5">
          <div class="picture-container mar-bottom-10">
            <div class="picture">
              <img
                class="image-background"
                src="../../../assets/images/image_bg.svg"
              />
              <img
                class="profile-pic"
                *ngIf="user.profile_picture"
                src="{{ user.profile_picture }}"
              />
              <img
                class="profile-pic"
                *ngIf="!user.profile_picture"
                src="../../../assets/images/user.png"
              />
            </div>
            <div class="UploadBtn">
              <button
                type="button"
                class="text-uppercase theme-btn w-auto BtnUploadPhoto"
              >
                {{ "profile.uploadphoto" | translate }}
              </button>
            </div>
          </div>
        </div>
        <div *ngIf="editProfile" class="col-md-6">
          <div class="pad-bottom-10 profile-text text-uppercase">
            {{ "profile.profileHeader" | translate }}
          </div>
          <div class="profile-container">
            <div class="profile-container2">
              <div class="form-group w-50">
                <span class="form-control text-gray profile-text">{{
                  user.first_name
                }}</span>
              </div>
              <div class="form-group w-50">
                <span class="form-control text-gray profile-text">{{
                  user.last_name
                }}</span>
              </div>
              <div class="form-group w-50">
                <span class="form-control text-gray profile-text">{{
                  user.gender
                }}</span>
              </div>
              <div class="form-group w-50">
                <span class="form-control text-gray profile-text">{{
                  user.title
                }}</span>
              </div>
              <div class="form-group w-50">
                <span class="form-control text-gray profile-text">{{
                  user.company_name
                }}</span>
              </div>
              <div class="form-group w-50">
                <span class="form-control text-gray profile-text">{{
                  user.department_name
                }}</span>
              </div>
              <div class="form-group w-50">
                <span class="form-control text-gray profile-text">{{
                  user.address
                }}</span>
              </div>
              <div class="form-group w-50">
                <span class="form-control text-gray profile-text">{{
                  user.zipcode
                }}</span>
              </div>
              <div class="form-group w-50">
                <span class="form-control text-gray profile-text">{{
                  user.state
                }}</span>
              </div>
              <div class="form-group w-50">
                <span class="form-control text-gray profile-text">{{
                  user.country
                }}</span>
              </div>
              <div class="form-group w-50">
                <span class="form-control text-gray profile-text">{{
                  user.telephone
                }}</span>
              </div>
              <div class="form-group w-50">
                <span class="form-control text-gray profile-text">{{
                  user.website
                }}</span>
              </div>
              <div class="form-group w-100">
                <span
                  class="form-control form-control-outline form-control-without-border-bottom text-gray profile-text"
                  >{{ user.description }}</span
                >
              </div>
            </div>
          </div>
          <div class="text-end">
            <button class="theme-btn w-auto" type="button" (click)="openEdit()">
              {{ "profile.edit" | translate }}
            </button>
          </div>
        </div>
        <div *ngIf="!editProfile" class="col-md-6 hidden-overflow">
          <div class="pad-bottom-10 profile-text text-uppercase">
            {{ "profile.editProfileHeader" | translate }}
          </div>
          <form [formGroup]="userProfileForm" class="col-sm-12">
            <div class="profile-container">
              <div class="profile-container2">
                <button
                  type="button"
                  class="btn btn-default btn-close-edit-profile"
                  (click)="closeEdit()"
                >
                  X
                </button>
                <div class="form-group w-50">
                  <input
                    type="firstName"
                    name="firstName"
                    class="form-control form-control-outline"
                    formControlName="first_name"
                    placeholder="{{
                      user.first_name
                        ? user.first_name
                        : ('profile.firstname' | translate)
                    }}"
                  />
                </div>
                <div class="form-group w-50">
                  <input
                    type="lastName"
                    name="lastName"
                    class="form-control form-control-outline"
                    formControlName="last_name"
                    placeholder="{{
                      user.last_name
                        ? user.last_name
                        : ('profile.lastname' | translate)
                    }}"
                  />
                </div>
                <div class="form-group w-50">
                  <label class="form-label" hidden>{{
                    "profile.gender" | translate
                  }}</label>
                  <select
                    class="form-select"
                    name="gender"
                    id="gender"
                    formControlName="gender"
                  >
                    <option *ngFor="let gender of genderList; let i = index">
                      {{ gender }}
                    </option>
                  </select>
                  <span _ngcontent-sis-c26="" class="bi bi-send"></span>
                </div>
                <div class="form-group w-50">
                  <input
                    type="test"
                    name="firstName"
                    class="form-control form-control-outline"
                    placeholder="{{
                      user.title ? user.title : ('profile.jobTitle' | translate)
                    }}"
                    formControlName="title"
                  />
                </div>
                <div class="form-group w-50">
                  <input
                    type="company"
                    name="company"
                    class="form-control form-control-outline disabled"
                    formControlName="company"
                    style="background-color:white;"
                    placeholder="{{
                      user.company_name
                        ? user.company_name
                        : ('multigence' | translate)
                    }}"
                    [attr.disabled]="null"
                  />
                </div>
                <div class="form-group w-50">
                  <label
                    class="form-label text-white UpperLabel"
                    *ngIf="!selectedDepartment"
                    >DEPARTMENT</label>
                  <select
                    class="form-select"
                    name="department"
                    id="department"
                    formControlName="department"
                    (change)="onSelectDepartment($event)"
                  >
                    <option
                      *ngFor="let department of departments"
                      [value]="department.uuid"
                    >
                      {{ department.name }}
                    </option>
                  </select>
                  <span _ngcontent-sis-c26="" class="bi bi-send"></span>
                </div>
                <div class="form-group w-50">
                  <input
                    type="address"
                    name="address"
                    class="form-control form-control-outline"
                    placeholder="{{
                      user.address
                        ? user.address
                        : ('profile.address' | translate)
                    }}"
                    formControlName="address"
                  />
                </div>
                <div class="form-group w-50">
                  <input
                    type="text"
                    name="zipcode"
                    class="form-control form-control-outline"
                    placeholder="{{
                      user.zipcode
                        ? user.zipcode
                        : ('profile.zipcode' | translate)
                    }}"
                    formControlName="zipcode"
                  />
                </div>
                <div class="form-group w-50">
                  <input
                    type="state"
                    name="state"
                    class="form-control form-control-outline"
                    formControlName="state"
                    placeholder="{{
                      user.state ? user.state : ('profile.state' | translate)
                    }}"
                  />
                </div>
                <div class="form-group w-50">
                  <input
                    type="text"
                    name="country"
                    class="form-control form-control-outline"
                    placeholder="{{
                      user.country
                        ? user.country
                        : ('profile.country' | translate)
                    }}"
                    formControlName="country"
                  />
                </div>
                <div class="form-group w-50">
                  <input
                    type="number"
                    name="telephone"
                    class="form-control form-control-outline"
                    placeholder="{{
                      user.telephone
                        ? user.telephone
                        : ('profile.telephone' | translate)
                    }}"
                    formControlName="telephone"
                  />
                </div>
                <div class="form-group w-50">
                  <input
                    type="text"
                    name="website"
                    class="form-control form-control-outline"
                    placeholder="{{
                      user.website
                        ? user.website
                        : ('profile.website' | translate)
                    }}"
                    formControlName="website"
                  />
                </div>
                <div class="form-group w-100">
                  <label class="form-label" for="">{{
                    "profile.description" | translate
                  }}</label>
                  <textarea
                    type="text"
                    name="description"
                    class="form-control form-control-outline"
                    placeholder="{{
                      user.description
                        ? user.description
                        : ('profile.description' | translate)
                    }}"
                    formControlName="description"
                  ></textarea>
                </div>
              </div>
            </div>
            <div class="text-end">
              <button
                type="submit"
                class="theme-btn w-auto"
                (click)="saveProfile()"
              >
                {{ "profile.save" | translate }}
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
