.content-main {
  .login-box {
    .login-form-wrapper {
      padding: 27% 20% 50%;
      background: url(../../../assets/images/login.svg) no-repeat;
      background-size: contain;
      overflow: hidden;
    }
  }
}
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 18px;
  margin-right: 12px;
  input {
    opacity: 0;
    &:checked + .slider:before {
      transform: translateX(26px);
    }
  }
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #222;
    border: 1px solid #aaa;
    transition: 0.4s;
    border-radius: 34px;
    &:before {
      position: absolute;
      content: "";
      height: 14px;
      width: 14px;
      left: 4px;
      top: 1px;
      background-color: rgba(255, 255, 255, 0.5);
      border: 1px solid #eee;
      transition: 0.4s;
      border-radius: 100%;
    }
  }
}
.switch-label {
  line-height: 18px;
  vertical-align: top;
  display: inline-block;
  color: #eeeeee;
  margin: 0;
  text-transform: capitalize;
}

@media only screen and (max-width: 575px) {
  .content-main {
    .login-box {
      .login-form-wrapper {
        padding: 25% 15px;
      }
    }
  }
}
