<section id="content-main" class="signup">
  <article class="container">
    <div class="col-sm-6 m-auto signup-box">
      <div class="no-gutter">
        <form
          [formGroup]="forgetPasswordForm"
          class="col-sm-12"
          (ngSubmit)="sendEmailResetPassword()"
        >
          <div
            class="form-group has-feedback has-feedback-left overflow-hidden"
          >
            <div class="pad-bottom-20">
              <input
                type="email"
                name="email"
             
                class="form-control form-control-outline"
                formControlName="email"
                placeholder="Email"
                required
              />
              <ng-container
                *ngIf="
                  forgetPasswordForm.get('email')?.invalid &&
                  forgetPasswordForm.get('email')?.touched
                "
              >
                <p
                  class="caption status-danger"
                  *ngIf="forgetPasswordForm.get('email')?.errors?.['required']" && !errormsg
                >
                  <span style="color: red">{{
                    "login.form.email.error.required" | translate
                  }}</span>
                </p>
                <p
                  class="caption status-danger"
                  *ngIf="forgetPasswordForm.get('email')?.errors?.['pattern']" && !errormsg
                >
                  <span style="color: red">{{
                    "login.form.email.error.email" | translate
                  }}</span>
                </p>
                <p class="form-error" *ngIf="!forgetPasswordForm.invalid">
                  <span style="color: red">{{"errormsg"}}</span>
                </p>
              </ng-container>
            </div>
            <div class="row no-margin">
              <!-- ERRORS -->
              <ng-container
              class="form-group form-message error-message"
              *ngIf="errormsg"
            >
            <p class="form-error" *ngIf="errormsg && !forgetPasswordForm.get('email')?.errors?.['required']">
              <span style="color: red">
                {{ errormsg | translate}}</span>
            </p>

            </ng-container>
              
            </div>
            <button
              type="submit"
              [disabled]="!forgetPasswordForm.valid"
              class="theme-btn text-uppercase mt-3"
            >
              {{ "forgotPassword.form.send" | translate }}
            </button>
          </div>
        </form>
      </div>
    </div>
  </article>
</section>
<app-login-layout>
</app-login-layout>