<app-layout-header></app-layout-header>
<div class="progress-footer FooterTop text-center">
  <a href="admin">{{ "admin.catalog" | translate }}</a>

  <div class="progress-chart">
    <div class="progress">
      <div
        class="pending"
        role="progressbar"
        style="width: 33%"
        data-toggle="tooltip"
        data-placement="top"
        title="{{'progress.pending' | translate}}"
      ></div>
      <div
        class="progressing"
        role="progressbar"
        style="width: 33%"
        data-toggle="tooltip"
        data-placement="top"
        title="{{'progress.progressing' | translate}}"
      ></div>
      <div
        class="finished"
        role="progressbar"
        style="width: 34%"
        data-toggle="tooltip"
        data-placement="top"
        title="{{'progress.finished' | translate}}"
      ></div>
    </div>
  </div>
</div>
<div class="MainBodyPart">
  <div class="container-fluid">
    <div class="AdminUser">
      <div class="row">
        <div class="col-md-3">
          <div>
            <div class="right-inner-addon">
              <img src="../../../../assets/images/search.svg" alt="" />
              <input
                class="form-control form-control-outline custom-search"
                placeholder="{{ 'filter.search' | translate }}"
                type="text"
                name="search"
                [(ngModel)]="searchText"
                autocomplete="off"
              />
            </div>
            <div class="FilterBox">
              <div class="AdminSubTitle">PROGRESS</div>
              <div class="FilterBoxInner">
                <div class="container-fluid">
                  <div class="row align-items-center mb-3" *ngFor="let status of statusList; let i=index">
                    <div class="col-sm-9">
                      <div class="checkbox m-0">
                        <!-- <input
                          type="checkbox"
                          (change)="progressFilter($event, 'CREATED')"
                          id="progress-pending"
                          name="progress-pending"
                        /> -->
                        <input
                          type="checkbox"
                          [checked]="filters.status[status] || false"
                          (change)="onChecked($event, status, 'status')"
                          id="status{{i}}"
                          name="status{{i}}"
                        />
                        <!---->
                        <label for="progress-pending">{{status}}</label>
                      </div>
                    </div>
                    <div class="col-sm-3 text-end">
                      <p>({{ counters?.progress[status] || 0 }})</p>
                    </div>
                  </div>
                  <!-- <div class="row align-items-center mb-3">
                    <div class="col-sm-9">
                      <div class="checkbox m-0">
                        <input
                          type="checkbox"
                          (change)="progressFilter($event, 'IN_PROGRESS')"
                          id="progress-process"
                          name="progress-pending"
                        />
                        <label for="progress-process">In process</label>
                      </div>
                    </div>
                    <div class="col-sm-3 text-end">
                      <p>({{ counters.progress.IN_PROGRESS || 0 }})</p>
                    </div>
                  </div>
                  <div class="row align-items-center">
                    <div class="col-sm-9">
                      <div class="checkbox m-0">
                        <input
                          type="checkbox"
                          [(ngModel)]="filters.status.DONE" 
                          id="progress-finished"
                          name="progress-finished"
                        />
                        <label for="progress-finished">Finished</label>
                      </div>
                    </div>
                    <div class="col-sm-3 text-end">
                      <p>({{ counters.progress.DONE || 0 }})</p>
                    </div>
                  </div> -->
                </div>
              </div>
            </div>
            <div class="FilterBox">
              <div class="AdminSubTitle">COMPANY</div>
              <div class="FilterBoxInner">
                <div class="container-fluid">
                  <div
                    class="row align-items-center mb-3"
                    *ngFor="let company of companyList; let i=index">
                    <div class="col-sm-9">
                      <div class="checkbox m-0">
                        <input
                          type="checkbox"
                          [checked]="filters.company[company.uuid] || false"
                          name="company{{i}}"
                          id="company{{i}}"
                          (change)="onChecked($event, company.uuid, 'company')"
                        />
                        <label class="text-capitalize">{{
                          company.name
                        }}</label>
                      </div>
                    </div>
                    <div class="col-sm-3 text-end">
                      <p>({{ counters.company[company.uuid] || 0 }})</p>
                    </div>
                  </div>
                </div>
                <!-- <div class="container-fluid"> 
                  <div
                  class="row align-items-center mb-3"
                  *ngFor="let company of usersPage; let i=index"
                >
                    <div class="col-sm-9">
                      <div class="checkbox m-0">
                        <input
                          type="checkbox"
                          name="company{{i}}"
                          [(ngModel)]="filters.companyData.name"
                          id="company{{i}}"
                        />
                        <label class="text-capitalize">{{
                          company.company.name
                        }}</label>
                      </div>
                    </div>
                    <div class="col-sm-3 text-end">
                      <p>({{ counters.company[company.company.uuid] || 0 }})</p>
                    </div>
                  </div>
                </div> -->
              </div>
            </div>
            <div class="FilterBox">
              <div class="AdminSubTitle">DEPARTMENT</div>
              <div class="FilterBoxInner">
                <div class="container-fluid">
                  <div
                  class="row align-items-center mb-3"
                  *ngFor="let department of departments; let i=index"
                >
                  <!-- <div
                    class="row align-items-center mb-3"
                    *ngFor="let department of filteredUsersPage; let i=index"
                  > -->
                    <div class="col-sm-9">
                      <div class="checkbox m-0">
                        <input
                          type="checkbox"
                          [checked]="filters.department[department.uuid] || false"
                          name="department{{i}}"
                          id="department{{i}}"
                          (change)="onChecked($event, department.uuid, 'department')"
                        />
                        <label class="text-capitalize">{{
                          department.name
                        }}</label>
                      </div>
                    </div>
                    <div class="col-sm-3 text-end">
                      <p>
                        ({{
                          counters.department[department.uuid] || 0
                        }})
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="FilterBox">
              <div class="AdminSubTitle">ROLE</div>
              <div class="FilterBoxInner">
                <div class="container-fluid">
                  <div class="row align-items-center mb-3"  *ngFor="let role of roleList; let i=index">
                    <div class="col-sm-9">
                      <div class="checkbox m-0">
                        <!-- <input
                          type="checkbox"
                          id="role-manager"
                          [(ngModel)]="filters.role.MANAGER"
                          name="role-manager"
                        /> -->
                        <input
                          type="checkbox"
                          [checked]="filters.role[role] || false"
                          (change)="onChecked($event, role, 'role')"
                          id="role{{i}}"
                          name="role{{i}}"
                        />
                        <label for="role-manager">{{role}}</label>
                      </div>
                    </div>
                    <div class="col-sm-3 text-end">
                      <p>({{ counters?.role.MANAGER || 0 }})</p>
                    </div>
                  </div>
                  <!-- <div class="row align-items-center mb-3">
                    <div class="col-sm-9">
                      <div class="checkbox m-0">
                        <input
                          type="checkbox"
                          id="role-employee"
                          name="role-employee"
                          [(ngModel)]="filters.role.EMPLOYEE"
                        />
                        <label for="role-employee">Employee</label>
                      </div>
                    </div>
                    <div class="col-sm-3 text-end">
                      <p>({{ counters.role.EMPLOYEE || 0 }})</p>
                    </div>
                  </div>
                  <div class="row align-items-center mb-3">
                    <div class="col-sm-9">
                      <div class="checkbox m-0">
                        <input
                          type="checkbox"
                          id="role-applicant"
                          name="role-applicant"
                          [(ngModel)]="filters.role.APPLICANT"
                        />
                        <label for="role-applicant">Candidate</label>
                      </div>
                    </div>
                    <div class="col-sm-3 text-end">
                      <p>({{ counters.role.APPLICANT || 0 }})</p>
                    </div>
                  </div> -->
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-9">
          <div class="container">
            <div class="UserTable table-hover">
              <div class="row">
                <div class="row"></div>
              </div>
              <table class="table table-dark">
                <thead>
                  <tr>
                    <th scope="col">
                      <div class="d-flex align-items-center gap-2"></div>
                    </th>
                    <th scope="col">
                      <div class="d-flex align-items-center gap-2">
                        FIRST NAME
                        <div>
                          <div>
                            <i
                              class="my-icon fa fa-chevron-up"
                              (click)="onSortTableData($event)"
                            ></i>
                          </div>
                          <div>
                            <i
                              class="my-icon fa fa-chevron-down"
                              (click)="onSortTableData($event)"
                            ></i>
                          </div>
                        </div>
                      </div>
                    </th>
                    <th scope="col">
                      <div class="d-flex align-items-center gap-2">
                        LAST NAME
                        <div>
                          <div>
                            <i
                              class="my-icon fa fa-chevron-up"
                              (click)="onSortTableData($event)"
                            ></i>
                          </div>
                          <div>
                            <i
                              class="my-icon fa fa-chevron-down"
                              (click)="onSortTableData($event)"
                            ></i>
                          </div>
                        </div>
                      </div>
                    </th>
                    <th scope="col">
                      <div class="d-flex align-items-center gap-2">
                        COMPANY
                        <div>
                          <div>
                            <i
                              class="my-icon fa fa-chevron-up"
                              (click)="onSortTableData($event)"
                            ></i>
                          </div>
                          <div>
                            <i
                              class="my-icon fa fa-chevron-down"
                              (click)="onSortTableData($event)"
                            ></i>
                          </div>
                        </div>
                      </div>
                    </th>
                    <th scope="col">
                      <div class="d-flex align-items-center gap-2">
                        DEPARTMENT
                        <div>
                          <div>
                            <i
                              class="my-icon fa fa-chevron-up"
                              (click)="onSortTableData($event)"
                            ></i>
                          </div>
                          <div>
                            <i
                              class="my-icon fa fa-chevron-down"
                              (click)="onSortTableData($event)"
                            ></i>
                          </div>
                        </div>
                      </div>
                    </th>
                    <th scope="col">
                      <div class="d-flex align-items-center gap-2">
                        POSITION
                        <div>
                          <div>
                            <i
                              class="my-icon fa fa-chevron-up"
                              (click)="onSortTableData($event)"
                            ></i>
                          </div>
                          <div>
                            <i
                              class="my-icon fa fa-chevron-down"
                              (click)="onSortTableData($event)"
                            ></i>
                          </div>
                        </div>
                      </div>
                    </th>
                    <th scope="col">
                      <div class="d-flex align-items-center gap-2">
                        INVITES
                        <div>
                          <div>
                            <i
                              class="my-icon fa fa-chevron-up"
                              (click)="onSortTableData($event)"
                            ></i>
                          </div>
                          <div>
                            <i
                              class="my-icon fa fa-chevron-down"
                              (click)="onSortTableData($event)"
                            ></i>
                          </div>
                        </div>
                      </div>
                    </th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let user of usersPage | filter : searchText">
                  <!-- <tr *ngFor="let user of filteredUsersPage | filter : searchText"> -->
                    <td scope="row"> 
                      <!-- <i class="fa fas fa-caret-up"></i> 
                      <i class="fa fad fa-volume-up"></i> -->
                      <i class="material-icons">edit</i><i class="material-icons">delete</i>
                    </td>
                    <td>{{ user.first_name }}</td>
                    <td>{{ user.last_name }}</td>
                    <td>{{ user.company.name }}</td>
                    <td>{{ user.department.name }}</td>
                    <td>{{ user.title }}</td>
                    <td>{{ user.invite }}</td>
                    <td>
                      <div
                        class="d-flex align-items-center gap-3 justify-content-between"
                      >
                        <a *ngIf="user.status === 'DONE' || user.status === 'IN_PROGRESS'" href="">
                          <img
                            height="13"
                            width="13"
                            src="../../../../assets/images/download.svg"
                            alt=""
                          />
                        </a>
                        <button
                          type="reset"
                          class="DeleteBtn"
                          (click)="openConfirmationModal(template)"
                        >
                          <img
                            src="../../../../assets/images/CrossIcon.png"
                            alt=""
                          />
                        </button>
                        <ng-template #template>
                          <div class="ConfirmationModel">
                            <div class="modal-body">
                              <p>Are you sure you want to delete this user?</p>
                              <div class="ModelBtnPart">
                                <button
                                  type="button"
                                  class="theme-btn w-auto"
                                  (click)="confirmDeleteDialog('id')"
                                >
                                  Ok
                                </button>
                                <button
                                  type="button"
                                  class="theme-btn w-auto"
                                  (click)="declineDeleteModal()"
                                >
                                  Cancel
                                </button>
                              </div>
                            </div>
                          </div>
                        </ng-template>
                      </div>
                    </td>
                  </tr>
                </tbody>


              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
