<header class="navbar-inverse">
  <div class="container p-0">
    <nav class="navbar navbar-expand-lg navbar-light">
      <a
        class="navbar-brand"
        href="#/"
        data-toggle="collapse"
        data-target=".navbar-collapse.in"
      >
        <img
          src="/images/logo2x.png"
          class="img-responsive"
          width="176"
          height="53"
          alt="iQapla"
        />
        <span class="visuallyhidden">multigence</span>
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
        <span class="navbar-toggler-icon"></span>
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse justify-content-end" id="navbarNav">
        <div class="dropdown">
          <button
            class="DrpBtnProfile"
            type="button"
            id="dropdownMenuButton1"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
          <img src="../../../../assets/images/Downarrow.png" alt="">
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" href="account">Account</a></li>
            <li><a class="dropdown-item" (click)="onLogout()">Log Out</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </div>

  <!-- <nav class="navbar navbar-inverse navbar-fixed-top bg-inverse">
      <div class="container">
  
        <div class="row no-gutter">
  
          <div class="col-xs-4 col-sm-3 col-md-3">
            <a class="navbar-brand" href="#/" data-toggle="collapse" data-target=".navbar-collapse.in">
              <img src="/images/logo2x.png" class="img-responsive" width="176" height="53" alt="iQapla">
              <span class="visuallyhidden">multigence</span>
            </a>
          </div>
          <div class="col-xs-8">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only" translate="header.navigation.toggle"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            </div>
          </div>
  
          <div class="col-xs-12 col-sm-9 col-md-9">
            <div class="collapse navbar-collapse" id="navbar">
              <ul class="nav navbar-nav navbar-right">
                <li class="dropdown" [ngClass]="{active: isActive === 'account' }">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    <span>{{username}}</span>
                    <svg class="icon-arrow-down-small">
                      <use xlink:href="/images/icons.svg#icon-arrow-down-small"></use>
                    </svg>
                  </a>
                  <ul class="dropdown-menu">
                    <li><a href="#/account" data-toggle="collapse" data-target=".navbar-collapse.in" translate="account"></a></li>
                    <li><a href (onClick)="logout()" data-toggle="collapse" data-target=".navbar-collapse.in" translate="logout"></a></li>
                  </ul>
                </li>
  
              </ul>
            </div>
          </div>
  
        </div>
  
      </div>
    </nav> -->
</header>
