<section id="content-main" class="signup">
    <article class="container">
      <div class="m-auto col-md-6 signup-box">
        <div class="no-gutter">

            <form  [formGroup]="signupForm" class="col-sm-12" (ngSubmit)="signUp()">

                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group has-feedback has-feedback-left" >
                      <label for="signup-first-name" hidden>{{"form.firstname" | translate}}</label>
                      <input type="text" name="first_name" class="form-control form-control-outline" formControlName="first_name" placeholder="{{'form.firstname' | translate}}">
                      <ng-container *ngIf=" signupForm.get('first_name')?.invalid &&
                      signupForm.get('first_name')?.touched
                      "
                    >
                      <p
                        class="caption status-danger"
                        *ngIf="signupForm.get('first_name')?.errors?.['required']"
                      >
                        <span style="color: red">{{"signup.form.error.firstname.required" | translate}}</span>
                      </p>
                     
                    </ng-container>
                   
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group has-feedback has-feedback-left">
                      <label for="signup-lastname-name"  hidden>{{"form.lastname"| translate}}</label>
                      <input type="text" name="last_name" class="form-control form-control-outline" formControlName="last_name"  placeholder="{{'form.lastname' | translate}}">
                      <ng-container
                      *ngIf="
                      signupForm.get('last_name')?.invalid &&
                      signupForm.get('last_name')?.touched
                      "
                    >
                      <p
                        class="caption status-danger"
                        *ngIf="signupForm.get('last_name')?.errors?.['required']"
                      >
                        <span style="color: red">{{"signup.form.error.lastname.required" | translate}}</span>
                      </p>
                     
                    </ng-container>
                    </div>
                  </div>

                  <div class="col-md-6">
                    <div class="form-group has-feedback has-feedback-left">
                      <label for="signup-company"  hidden>{{"form.company"| translate}}</label>
                      <input type="text" name="company" class="form-control form-control-outline" formControlName="company" placeholder="{{'form.company' | translate}}">
                      <ng-container
                      *ngIf="
                      signupForm.get('company')?.invalid &&
                      signupForm.get('company')?.touched
                      "
                    >
                      <p
                        class="caption status-danger"
                        *ngIf="signupForm.get('company')?.errors?.['required']"
                      >
                        <span style="color: red">{{"signup.form.error.company.required" | translate}}</span>
                      </p>
                     
                    </ng-container>
                    </div>
                  </div>

                  <div class="col-md-6">
                    <div class="form-group has-feedback has-feedback-left" ng-class="{'has-error': signupform.email.$invalid && signupform.email.$dirty}">
                      <label for="signup-email"  hidden>{{"form.email" | translate}}</label>
                      <input type="email" name="email" class="form-control form-control-outline" formControlName="email" placeholder="{{'form.email' | translate}}">
                      <ng-container
                      *ngIf="
                      signupForm.get('email')?.invalid &&
                      signupForm.get('email')?.touched
                      "
                    >
                      <p
                        class="caption status-danger"
                        *ngIf="signupForm.get('email')?.errors?.['required']"
                      >
                        <span style="color: red">{{"signup.form.email.error.required" | translate}}</span>
                      </p>
                      <p
                      class="caption status-danger"
                      *ngIf="signupForm.get('email')?.errors?.['pattern']"
                    >
                      <span style="color: red">{{ "signup.form.error.email.invalid" | translate  }}</span>
                    </p>
                     
                    </ng-container>
                    
                    </div>
                  </div>

                </div>
                <div class="row">
                    <div class="col-xs-12">
                      <div class="form-group has-feedback has-feedback-left">
                        <label for="additional_info">{{"signup.form.why" | translate}}</label>
                        <textarea name="additional_info" class="form-control transparent-background" style="resize:vertical;" rows="4" formControlName="additional_info"></textarea>
                        <ng-container
                      *ngIf="
                      signupForm.get('additional_info')?.invalid &&
                      signupForm.get('additional_info')?.touched
                      "
                    >
                      <p
                        class="caption status-danger"
                        *ngIf="signupForm.get('additional_info')?.errors?.['required']"
                      >
                        <span style="color: red">{{"signup.form.email.error.required" | translate}}</span>
                      </p>
                     
                    </ng-container>
                    </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-12">
                      <div class="checkbox">
                        <input type="checkbox" formControlName="acceptTerms" id="termsaccept" name="terms" required>
                        <label for="termsaccept">&nbsp;<span >{{"signup.form.acceptTerms" | translate}}</span> <a class="underline" href="" target="_blanck" >{{"signup.form.terms" | translate}}</a></label>
                        <ng-container
                        *ngIf="
                        signupForm.get('acceptTerms')?.invalid &&
                        signupForm.get('acceptTerms')?.touched
                        "
                      >
                        <p
                          class="caption status-danger"
                          *ngIf="signupForm.get('acceptTerms')?.errors?.['required']"
                        >
                          <span style="color: red">{{"signup.form.error.terms.required" | translate}}</span>
                        </p>
                       
                      </ng-container>
                    
                    </div></div> </div>
              
              
                <button type="submit" class="theme-btn text-uppercase">{{"signup.form.submit" | translate}}</button>
              
              </form>

        </div>
      </div>
    </article>
  </section>
  <app-login-layout></app-login-layout>