<section id="content-main" class="signup">
    <article class="container">
      <div class="col-sm-6 m-auto signup-box">
       
        <div class="no-gutter">
        <form [formGroup]="changePasswordForm" (ngSubmit)="changePassword()">
            <div class="form-group has-feedback has-feedback-left">
              <label for="password" hidden>{{"resetPassword.callback.password" | translate}}</label>
              <input type="password" name="password" class="form-control form-control-outline" formControlName="password" placeholder="{{'resetPassword.callback.password'|translate}}">
              <ng-container
              *ngIf="
              changePasswordForm.get('password')?.invalid &&
              changePasswordForm.get('password')?.touched
              "
            >
              <p
                class="caption status-danger"
                *ngIf="changePasswordForm.get('password')?.errors?.['required']"
              >
                <span style="color: red"> {{"acceptform.form.pass.error.required" | translate}}</span>
              </p>
             
            </ng-container>
            
            </div>
            <div class="form-group has-feedback has-feedback-left" >
              <label for="password-confirm" hidden translate="resetPassword.callback.passwordRepeat"></label>
              <input type="password" name="new_password" formControlName="new_password" class="form-control form-control-outline"  placeholder="{{'resetPassword.callback.passwordRepeat' | translate}}">
              <ng-container
              *ngIf="
              changePasswordForm.get('new_password')?.invalid &&
              changePasswordForm.get('new_password')?.touched
              "
            >
              <p
                class="caption status-danger"
                *ngIf="changePasswordForm.get('new_password')?.errors?.['required']"
              >
                <span style="color: red">{{"acceptform.form.repeatpass.error.required" | translate}}</span>
              </p>
             

              <!-- <p *ngIf="changePasswordForm.get('new_password')?.errors?.['confirmPasswordValidator']">
                <span style="color: red">{{"changePassword.form.error.passwordNotMatch" | translate}}</span></p> -->
           
            </ng-container>
           
            </div>
            <div
            class="form-group form-message error-message"
            role="alert"
            show="err"
          >
            <div class="form-error" *ngIf="changePasswordForm.invalid">
              <span style="color: red"> {{ errormsg }} </span>
            </div>
          </div>
            <button type="submit" class="theme-btn text-uppercase" >{{"resetPassword.callback.submit"| translate}}</button>
          </form>
        </div>
      </div>
    </article>
  </section>
  <app-login-layout></app-login-layout>