<app-layout-header></app-layout-header>
<div class="MainBodyPart">
  <div class="pad-top-30 pad-bottom-500 my-5">
    <div class="container-fluid admin-home">
      <div class="col-10 companies m-auto">
        <div class="AcordionTitle" translate="admin.companies.title"></div>
        <div class="companies-list">
          <ul>
            <li class="border-bottom">
              <form [formGroup]="createCompanyForm" class="">
                <button (click)="onShowCreateCompany()" type="button" class="companyform text-uppercase bold">
                  {{
                  (createCompany
                  ? "admin.companies.add"
                  : "admin.companies.add"
                  ) | translate
                  }}
                  <img src="../../../../assets/images/plusIcon.svg" alt="" *ngIf="!visible" />

                </button>
                <div class="CreateCompanyForm" *ngIf="visible">
                  <div class="row align-items-baseline">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="name" hidden>Company Name</label>
                        <input type="name" name="name" class="form-control form-control-outline" formControlName="name"
                          placeholder="{{
                            'admin.companies.new.form.name' | translate
                          }}" required />
                        <ng-container *ngIf="
                            createCompanyForm.get('name')?.invalid &&
                            createCompanyForm.get('name')?.touched
                          ">
                          <p class="caption status-danger" *ngIf="createCompanyForm.get('name')?.errors?.['required']">
                            <span style="color: red">{{
                              "admin.forms.name" | translate
                              }}</span>
                          </p>
                        </ng-container>
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="form-group">
                        <label for="trial" hidden>{{
                          "admin.version.select" | translate
                          }}</label>
                        <select formControlName="trial" style="padding-bottom: 8px;">
                          <option>
                            {{ "software.version.trial" | translate }}
                          </option>
                          <option>
                            {{ "software.version.full" | translate }}
                          </option>
                        </select>

                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="cform-inline" *ngIf="
                          createCompanyForm.controls['trial'].value ==
                          'Trial version'
                        ">
                        <div class="form-group d-flex align-items-center gap-2">
                          <label for="invitations">{{
                            "admin.form.invitations" | translate
                            }}</label>
                          <input type="number" class="form-control form-control-box" id="invitations" placeholder="10"
                            formControlName="invitations" style="width: 50px" />
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="CreateFormBtnPart">
                    <button type="reset" class="theme-btn" (click)="onCancelCreateCompany()">
                      Cancel
                    </button>
                    <button type="submit" (click)="saveAndOpenCompanyData()" [ngClass]="
                        !createCompanyForm.valid
                          ? 'theme-btn disabled'
                          : 'theme-btn'">
                      Save
                    </button>
                  </div>
                </div>
              </form>
            </li>
          </ul>
          <ul>
            <li *ngFor="let data of getAllOrgination; trackBy: trackByFn">
              <a (click)="onShowCompanyList(data)" class="companyform" *ngIf="data != activeIndex">
                {{ data.name }}
                <span class="bi bi-send"></span>
              </a>

              <form [formGroup]="createOrginationForm" class="">
                <div formArrayName="organizations" *ngIf="visibleCompanyList.includes(data)">
                  <div *ngFor="
                      let organization of organizations().controls;
                      let orgIndex = index
                    ">
                    <div [formGroupName]="orgIndex">
                      <input class="form-control form-control-outline" name="name" formControlName="name"
                        [(ngModel)]="data.name" />

                      <div class="CreateCompanyForm">
                        <div class="row align-items-baseline">
                          <div class="col-12">
                            <div class="form-group">
                              <label for="name">MANAGERS</label>
                            </div>
                          </div>
                          <div class="col-5">
                            <div class="form-group">
                              <label for="managerName" hidden>{{
                                "admin.companies.new.form.managerName"
                                | translate
                                }}</label>
                              <input type="text" name="managerName" class="form-control form-control-outline"
                                formControlName="managerName" placeholder="{{
                                  'admin.companies.new.form.managerName'
                                    | translate
                                }}" required />
                              <ng-container *ngIf="
                                  createOrginationForm.get('managerName')
                                    ?.invalid &&
                                  createOrginationForm.get('managerName')
                                  
                                    ?.touched
                                ">
                                <p class="caption status-danger"
                                  *ngIf="createOrginationForm.get('managerName')?.errors?.['required']">
                                  <span style="color: red">{{
                                    "admin.forms.firstName" | translate
                                    }}</span>
                                </p>
                              </ng-container>
                            </div>
                          </div>
                          <div class="col-7">
                            <div class="form-group">
                              <label for="managerLastName" hidden>{{
                                "admin.companies.new.form.managerLastName"
                                | translate
                                }}</label>
                              <input type="text" name="managerLastName" class="form-control form-control-outline"
                                formControlName="managerLastName" placeholder="{{
                                  'admin.companies.new.form.managerLastName'
                                    | translate
                                }}" required />
                              <ng-container *ngIf="
                                  createOrginationForm.get('managerLastName')
                                    ?.invalid &&
                                  createOrginationForm.get('managerLastName')
                                    ?.touched
                                ">
                                <p class="caption status-danger"
                                  *ngIf="createOrginationForm.get('managerLastName')?.errors?.['required']">
                                  <span style="color: red">{{
                                    "admin.forms.lastName" | translate
                                    }}</span>
                                </p>
                              </ng-container>
                            </div>
                          </div>
                          <div class="col-5">
                            <select name="department" id="department" style="padding-bottom: 8px;">
                              <option *ngFor="let department of departments" value="{department.uuid}">
                                {{ department.name }}
                              </option>
                            </select>
                          </div>
                          <div class="col-5">
                            <div class="form-group">
                              <label for="managerEmail" hidden>{{
                                "admin.companies.new.form.managerEmail"
                                | translate
                                }}</label>
                              <input type="email" name="managerEmail" class="form-control form-control-outline"
                                formControlName="managerEmail" placeholder="{{
                                  'admin.companies.new.form.managerEmail'
                                    | translate
                                }}" required />
                              <ng-container *ngIf="
                                  createOrginationForm.get('managerEmail')
                                    ?.invalid &&
                                  createOrginationForm.get('managerEmail')
                                    ?.touched
                                ">
                                <p class="caption status-danger"
                                  *ngIf="createOrginationForm.get('managerEmail')?.errors?.['required']">
                                  <span style="color: red">{{
                                    "admin.forms.email" | translate
                                    }}</span>
                                </p>
                                <p class="caption status-danger"
                                  *ngIf="createOrginationForm.get('managerEmail')?.errors?.['pattern']">
                                  <span style="color: red">{{
                                    "admin.forms.valid" | translate
                                    }}</span>
                                </p>
                              </ng-container>
                            </div>
                          </div>
                          <div class="col-2">
                            <div class="text-end">
                              <button [ngClass]="
                                  !createOrginationForm.valid
                                    ? 'theme-btn disabled w-auto'
                                    : 'theme-btn w-auto'
                                " (click)="onInviteManager(data)" [disabled]="!createOrginationForm.valid">
                                <span>Invite</span>
                              </button>
                            </div>
                          </div>
                          <div class="row manager-field" *ngFor="let manager of managers">
                            <div class="col-xs-5">
                              <p>{{manager['first_name']}}</p>
                            </div>
                            <div class="col-xs-7">
                              <p>{{manager['last_name']}}</p>
                            </div>
                          </div>
                        </div>
                        <div class="CreateFormBtnPart justify-content-between">
                          <button type="reset" class="theme-btn" (click)="openConfirmationModal(template)">
                            Delete
                          </button>
                          <ng-template #template>
                            <div class="ConfirmationModel">
                              <div class="modal-body">
                                <p>
                                  Are you sure you want to delete this
                                  organization?
                                </p>
                                <div class="ModelBtnPart">
                                  <button type="button" class="theme-btn w-auto" (click)="
                                      confirmDeleteDialog(data.uuid, data)
                                    ">
                                    Ok
                                  </button>
                                  <button type="button" class="theme-btn w-auto" (click)="declineDeleteModal()">
                                    Cancel
                                  </button>
                                </div>
                              </div>
                            </div>
                          </ng-template>
                          <div class="">
                            <button type="reset" class="theme-btn me-2" (click)="onCancelVisibleCompany(data)">
                              Cancel
                            </button>
                            <button type="submit" class="theme-btn" (click)="saveNewCompanyName(data)">
                              Save
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </li>
          </ul>
        </div>
        <div class="AcordionTitle" translate="">&nbsp;</div>
      </div>
    </div>
    <app-admin-footer></app-admin-footer>
  </div>
</div>