.companies {
  border: 1px solid gray;
  padding: 0 !important;
  .companies-list {
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    background-color: semitransparent-dark-gray;
    padding: 0;
    // li {
    //   a {
    //   padding: 10px 10px 10px 15px;
    //   border-bottom: 1px solid gray;
    //   display: block;
    //   }
    // }
    // li:last-child {
    //   border: 0 !important;
    // }
  }
  .manager-field {
    padding-top: 6px;
    background-color: #0c0c0c;
    border-bottom: 1px solid #555555;
    margin-bottom: 10px;
    .form-control {
      border: none;
    }
  }
}

.border-bottom {
  border-bottom: 1px solid gray;
}
.admin-users {
  .table-header {
    min-height: 3em;
  }
  .pagination-container {
    width: 100%;
    border: 1px solid gray;
    text-align: center;
  }
  .filter-box {
    border-top: 1px solid gray;
    background-color: semitransparent-darker-gray;
    padding: 15px 5px 5px 0px;
    .row {
      min-height: 2em;
    }
  }
}

.sort-asc {
  position: absolute;
  top: 0;
  right: 0;
}
.sort-asc:before {
  content: "\25B2";
}
.sort-desc {
  position: absolute;
  bottom: 0;
  right: 0;
}
.sort-desc:before {
  content: "\25BC";
}
.companyform {
  // width: 100%;
  // text-align: left;
  // color: blue;
  // font-size: 18px;
}
.companyform span {
  transform: rotate(135deg);
  transition: 0.5s ease all;
}
.MainBodyPart {
  height: calc(100vh - 150px);
  overflow: auto;
  top: 106px;
  position: relative;
}

.admin-home {
  .companies {
    max-width: 1150px;
    .AcordionTitle {
      font-size: 14px;
      line-height: 1.42857143;
      color:#ddd;
      padding: 12px 15px;
      background-color: #232323;
    }
    .companies-list {
      border-top: 1px solid #555555;
      border-bottom: 1px solid #555555;
      background-color: rgba(12, 12, 12, 0.5);
      // padding-left: 40px;
      ul {
        margin: 0;
        list-style-type: none;
        form {
          border-bottom: 1px solid #555555;
          display: block;
          &:last-child {
            border-bottom: none;
          }
        }
        .companyform {
          // padding: 10px 10px 10px 15px;
          border: none;
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          color: #337ab7;
          font-weight: bold;
          background: transparent;
          padding: 10px;
          border-bottom: 1px solid gray;
          position: relative;
          img {
            max-width: 15px;
          }
          &:hover {
            color: #00ff85;
            text-decoration: underline;
          }
        }
        .CreateCompanyForm {
          padding: 10px 15px;
          border-top: 1px solid #fff;
          // margin-top: 6px;
          label {
            font-size: 14px;
            line-height: 1.42857143;
            color: #333;
            text-transform: uppercase;
            margin: 0;
          }
          .form-control {
            // color: #333333;
            color: #eeeeee;
            font-weight: bold;
            position: relative;
            &::placeholder {
              color: #333333;
            }
            p {
              color: #333;
            }
          }
          select {
            background: transparent;
            background-color: transparent;
            color: #333333;
            border: 0;
            border-bottom: 1px solid #eeeeee;
            width: 100%;
            padding: 9px 12px;
            font-size: 14px;
            line-height: 1.42857143;
            position: relative;
            appearance: none;
            z-index: 9;
            option {
              color: #000;
              padding: 5px;
            }
            &:focus-visible {
              outline: none;
            }
          }
          select.selected {
            color: #00ff85 !important;
          }
          select + .bi.bi-send {
            position: absolute;
            color: #fff;
            right: 5px;
            top: 5px;
            transform: rotate(132deg);
          }
          .form-control.form-control-box {
            border-radius: 0;
            background-color: transparent;
            color: #eeeeee;
            &::-webkit-inner-spin-button,
            &::-webkit-outer-spin-button {
              -webkit-appearance: none;
              margin: 0;
            }
          }
          .CreateFormBtnPart {
            display: flex;
            justify-content: flex-end;
            gap: 10px;
            margin-bottom: 10px;
            button {
              width: auto;
            }
          }
        }
        li {
          position: relative;
          span.bi.bi-send {
            position: absolute;
            right: 10px;
            top: 10px;
            transform: rotate(132deg);
            color: #337ab7;
          }
        }
      }
    }
  }
}

.dropdown {
  .btn,
  .btn:active {
    border-top-width: 0;
    border-right-width: 0;
    border-left-width: 0;
    background-color: transparent;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    width: 100%;
    text-align: left;
  }
  .btn[disabled] {
    pointer-events: none;
    color: gray !important;
    .selected {
      color: gray !important;
    }
  }
  .icon {
    color: white;
    float: right;
  }
  .dropdown-menu {
    width: 100%;
    li a {
      color: white;
      cursor: pointer;
      padding: 3px 5px;
    }
    li a.active {
      color: gray !important;
    }
  }
}

.accordion {
  width: 100%;
}
.accordion-item {
  border: 1px solid #ddd;
  margin-bottom: 1rem;
}
.accordion-header {
  background-color: #eee;
  padding: 4rem;
  cursor: pointer;
  
}
.accordion-body {
  padding: 1rem;
  display: none;
}
.accordion-body.active {
  display: block;
}
.ConfirmationModel {
  .modal-body {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    border: 1px solid #fff;
    // border-radius: 6px;
    background-color: #171717;
    padding: 50px 50px 50px 50px;
    p {
      color: #fff;
    }
    .ModelBtnPart {
      display: flex;
      justify-content: space-evenly;
      margin-top: 50px;
      button {
        min-width: 70px;
      }
    }
  }
}
