.MainBodyPart {
  height: calc(100vh - 100px);
  overflow: auto;
  top: 98px;
  position: relative;
  background-color: #212121 !important;
  .headers {
    margin: 20px 0 10px;
    font-size: 30px;
    color: #eee;
  }
  hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eee;
    opacity: 1 !important;
  }
}
